# Segmenting and Clustering Neighborhoods in Toronto

In [48]:
import pandas as pd
import numpy as np

In [49]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [50]:
df = dfs[0]

In [51]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [52]:
df.shape

(288, 3)

In [53]:
df.columns = ['PostalCode', 'Borough', 'Neighborhood']

In [54]:
df = df[df.Borough != 'Not assigned']

In [55]:
df.shape

(211, 3)

In [56]:
df[df.PostalCode == 'M5A']

  PostalCode           Borough  Neighborhood
4        M5A  Downtown Toronto  Harbourfront
5        M5A  Downtown Toronto   Regent Park

In [57]:
df = (df.groupby(['PostalCode', 'Borough'])['Neighborhood']
      .apply(lambda x: "{}".format(', '.join(x))).reset_index())

In [58]:
df[df.Neighborhood.str.contains('Not assigned')]

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [59]:
df.loc[df.Neighborhood.str.contains('Not assigned'), 'Neighborhood'] = \
    df.loc[df.Neighborhood.str.contains('Not assigned'), 'Borough']

In [60]:
df[df.Borough.str.contains('Not assigned')]

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []